.register-wrapper {
  width: 460px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.register-title {
  font-weight: bold;
  font-size: 14px;
  margin: 19px 0 8px;
}
.register-input {
  height: 40px;
}

#register-button {
  width: 100%;
  height: 50px;
  background-color: rgb(89, 186, 144);
  color: white;
  font-size: 20px;
}
